.App {
  text-align:center ;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.header{
  color :white;
  border:2px solid black;
  height: 90px;
  width: 1920px;
  float: left;
}
.logoLeft{
height: 30px; 
margin-left: 50px;
}
.wraplogo{
  width:150px;
  font-size: 10px
}
.headerText{
  float: left;
  height: 60px;
  right: 50px;
}
.nav-link{
  margin-right: 60px;
}
.navColor{
  color: white;
}
.navText{
  color: black
}
.cardSection{
background-size: cover;
background-attachment: fixed;
min-height: 450px;
min-width: 300px;
margin-top: 90px;
}
.badgeColor{
  background:orange;
  
}
.cardText{
  font-size: 20px;
  font-weight: bold;
}
.inputVal{
  border-radius: 35px;
}
.cardTextIn{
  color:purple;
}
.textWrapBdr{
  width: 360px;
  background:cadetblue;
  height:35px;
  border-radius: 10px;
}
.reLink{
  color: purple
}
.ratingClr{
  color: black;
  background: green
}
.ratingSection{
  height: 350px;
}
.test{
  border: 0px !important;
  box-shadow: none
}
.featureTwo{
  height: 200px;
}
.feaText{
  font-weight: bold;
}
.whiteText{
  color: white;
  font-weight: small;
  font-size: 11px;
}